@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="padding:20px 30px 10px 30px">
    <div class="row">
        <div class="col-md-10">
            <br />
            <h2>JgData - JgMaschine</h2>
            <p class="lead">Program zum Überwachen von Maschinen</p>
        </div>

        <div class="col-md-2">
            <a class="btn btn-warning btn-block btn-sm" asp-action="About">Info</a>
            <a class="btn btn-warning btn-block btn-sm" style="margin:5px 0px 0px 0px" asp-action="Contact">Kontakt</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Maschinen</h2>
        <p>
            Zur Auswahl der im System vorhandenen Maschinen.
        </p>
        <a class="btn btn-outline-primary" href="@Url.Action("Index", "Maschine")">Maschinen &raquo;</a>
    </div>

    <div class="col-md-4">
        <h2>Bediener</h2>
        <p>
            Zur Auswahl der im System vorhandenen Bediener.
        </p>
        <a class="btn btn-outline-primary" href="@Url.Action("Index", "Bediener")">Bediener &raquo;</a>
    </div>

    <div class="col-md-4">
        <h2>Protokoll Meldungen</h2>
        <p>
            Eingabe von Ursachen für Reparaturen und Wartung
        </p>
        <a class="btn btn-warning" href="@Url.Action("IndexMeldungProtokoll", "Maschine", new { Prog = "OFFEN" } )">Offen Protokolle &raquo;</a>
        <a class="btn btn-outline-primary" href="@Url.Action("IndexMeldungProtokoll", "Maschine", new { Prog = "ALLE" } )">Alle Protokolle &raquo;</a>
    </div>
</div>

<br />

<div class="row">

    <div class="col-md-4">
        <h2>Standorte</h2>
        <p>
            Standorte anzeigen und bearbeiten.
        </p>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Standort">Standorte &raquo;</a>
    </div>

    <div class="col-md-4">
        <h2>Auswertungen</h2>
        <p>
            Auswertungen anzeigen und bearbeiten.
        </p>
        <a class="btn btn-outline-primary" href="@Url.Action("ReportIndex", "Auswertung")">Auswertungen &raquo;</a>
    </div>
</div>