@model IEnumerable<JgLibDataModel.TabBediener>

@{
    ViewBag.Title = "Index Bediener";
}

<br />
<h4>Übersicht Bediener</h4>
<div class="form-group">
    <a asp-action="Create" class="btn btn-primary"> Neuen Bediener erstellen </a>
</div>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Ausweisnummr</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NummerAusweis)
            </td>
            <td>
                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"> Bearbeiten </a>
        </tr>
    }

</table>
